/* General */

:root {
    --main-color: #0B1420;
    --secondary-color: #E7406A;
    --main-color-light: #111D35;
    --text-color: white;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
}

html, body,  main {
    width: 100%;
    height: 100%;
    background-image: url(img/Background.png);
    background-color: var(--main-color);
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Scroll bar*/
::-webkit-scrollbar {
    background-color: rgb(17, 29, 53);
    width: 8px;
}

::-webkit-scrollbar-button  {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    box-shadow: inset 0 0 10px 10px rgb(99, 98, 98, 0.7);
    border: solid 2px transparent;
    border-radius: 20px;
    width: 5px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: calc(100% - 4%);
    padding: 16px 2%;
}

#logo {
    font-size: 36px;
}

/* Nav-Header */

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

#apps ul {
    display: none;
    flex-direction: column;
    position: absolute;
    transform: translateX(35px);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary-color);
    background-color: var(--main-color-light);
}

#apps:hover ul {
    display: flex;
}

#apps ul li a {
    display: flex;
    align-items: center;
    padding: 10px;
}

#apps ul li img {
    height: 24px;
}

#settings ul {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary-color);
    background-color: var(--main-color-light);
}

#settings:hover ul {
    display: flex;
}

#settings ul li {
    display: flex;
    align-items: center;
    padding: 10px;
}

#settings ul li img {
    margin-right: 5px;
}

.nav-item {
    display: none;
    font-size: 24px;
    margin-left: 40px;
    color: var(--secondary-color);
}

.nav-item:hover {
    cursor: hand;
    cursor: pointer;
}

#menu {
    display: inline;
}

@media only screen and (min-width: 700px) {
    .nav-item {
        display: inline;
    }

    #menu {
        display: none;
    }
}

/* Home page */

#home-card {
    width: auto;
    height: auto;
    border-style: none;
}

#home-card h3 {
    font-size: 1.5rem;
    height: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}

#home-card h1 {
    font-size: 3rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
    border-color: var(--secondary-color);
    margin-bottom: 2px;
}

#home-card h2 {
    font-size: 1.5rem;
    height: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

#home-contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (min-width: 600px) {  
    #home-card h1 {
        font-size: 4rem;
        height: 4rem;
    }
    
    #home-card h2 {
        font-size: 2.25rem;
        height: 2.25rem;
    }
}

/* About page */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

#about-card {
    max-width: 700px;
    margin: 0 3%;
}

#about-card p {
    font-size: 18px;
    line-height: 24.3px;
    font-weight: 400;
}

#about-card h2 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 500;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
    border-color: var(--secondary-color);
    margin-bottom: 2px;
}

#about-card p {
    padding: 10px;
    text-align: justify;
}

/* Work */

#work {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1400px;
    min-height: 100%;
}

#work section {
    width: 60%;
    height: 60vh;
    max-width: calc(560px * 9 / 16);
    max-height: none;
    margin-top: 100px;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: var(--secondary-color);
}

#work section:hover {
    transform: scale(1.01);
    box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.5);
}

#work section iframe {
    width: 250%;
    height: 250%;
    border-radius: 33px;
    transform: scale(0.4) translateX(-75%) translateY(-75%);
}

@media only screen and (min-width: 1000px) {
    #work section {
        width: 40%;
        height: 40vh;
        max-width: none;
        max-height: calc(560px * 9 / 16);
        margin-top: 50px;
    }
}

/* Footer */

footer {
    width: 100%;
    height: auto;
    background-color: var(--main-color-light);
}

footer div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 60px 0;
}

.contact-card {
    width: 300px;
    height: 100px;
    text-align: center;
}

.contact-card h5 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

.contact-card a {
    margin: 0 10px;
}

.contact-card a img {
    width: 30px;
    height: 30px;
}

.contact-card button {
    width: 160px;
    height: 44px;
    font-size: 18px;
    background-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 11px;
    border-color: var(--secondary-color);
}